/TerapiasG3/target/
/juegocuantoshay/target/
/GraficaProyTerapiaG3/JavaApplication10/nbproject/private/
/GraficaProyTerapiaG3/TerapiaGraficaG3/nbproject/private/
/GraficaProyTerapiaG3/TerapiaGraficaG3/build/
/GraficaProyTerapiaG3/JavaApplication12/nbproject/private/
/GraficaProyTerapiaG3/JavaApplication12/build/
/TerapiasG3Grafica/target/
